html, body {
	margin: 0;
	height: 100%;
}


#divmap, #map {
	height: 100%;
}

.search-bar {
	position: absolute;
	width: 100%;
	top: 10px;
	left: 10px;
	height: 30px;
	z-index: 1000;
}

.search-bar input {
	width: 250px;
}
